
  
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/estilos.css">
    <title>Document</title>
  </head>
  <body>
  {{> header }}
  {{> nav }}

<div class="container">
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed reprehenderit magnam ducimus, voluptate laborum tenetur maxime molestiae aspernatur dolorum natus, eveniet unde similique a, nihil eum maiores impedit in? Deserunt!</p>
</div>

    
  </body>
  </html>
