<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perosnajes por casas</title>
</head>
<body>
  <h2> Personajes por - Casa {{ house }}</h2>
      <ul>
      {{#each characters}}
        <li> {{name}} - {{house}}</li>
      {{/each}}

    </ul>
</body>
</html>