<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/estilos.css">
  <title>Usuarios</title>
</head>
<body>
  <div class="container">
<h1> Lista de usuarios </h1>
{{#each usuarios}}
<li> {{nombre}} - {{email}} </li>
{{/each}}
<a href="/"> Volver al inicio</a>
</div>
</body>
</html>